<div class="p-5">
  <h3 class="text-center text-danger">
      You are viewing Soham Lad's Portfolio.
      For further details click the link.

    <img
          class="bg-primary align-center card-image-top"
          src="/images/soham.jpg"
        />
  </h3>
</div>