<div class="row card-container p-4">

  {{! Iterate skills array }}
  {{#each skills}}

    <div class="card col-lg-3 ms-4 mb-2">
      <div class="card-header">
        <img
          class="bg-primary align-center card-image-top"
          src="/images/{{image}}"
        />
      </div>

      <div class="card-body">
        <h4 class="card-titler text-center">{{title}}</h4>
        <h5 class="card-text text-center">{{level}}</h5>
      </div>

      <div class="card-footer">
        <p class="text-center">{{experience}}</p>
      </div>
    </div>

  {{/each}}

</div>